<!--BARRA DE NAVEGACION-->
<nav class="navbar">
    <div class="logo-wrapper">
        <img src="images/logo-serviYa.png" alt="ServiPy Logo" class="logo-img">
        <a href="index.html" class="logo">ServiYA!</a>
    </div>
    <!--Botones de la barra de navegacion-->
    <ul class="nav-links">
        <li><a href="index.html" class="nav-link">Inicio</a></li>
        <li><a href="providers.html" class="nav-link">Proveedores</a></li>
        <!--Este boton lo vamos a destacar con la clase "btn"-->
        <li><a href="register.html" class="btn-primary">Registra tu servicio aqui</a></li>
    </ul>
</nav>